body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px black solid;
}

th, td {
  padding: 5px;
}

th {
  background-color: lightgray;
}
